<div class="changelater">
  <%= render 'bookings/form', booking: @booking %>
</div>

<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week) %>

<%= month_calendar events: @bookings do |date, bookings| %>
  <%= date %>
  <% bookings.each do |booking| %>
    <%=  booking.description %>
  <% end %>
<% end %>
