<div class="pageFormat">
  <div class="bs-example">
    <div class="panel-group" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Booking Form</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="form-bar">
              <%= render 'bookings/form', booking: @booking %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week) %>

<%= month_calendar events: @bookings do |date, bookings| %>
  <%= date %>
  <% bookings.each do |booking| %>
    <%=  booking.description %>
  <% end %>
<% end %>
