<%= month_calendar events: @bookings do |date, bookings| %>
<h4><%= date.strftime("%B, %d") %></h4>
  <div class="booking">
    <% bookings.each do |booking| %>
      <p><%=  booking.description %></p>
    <% end %>
  </div>
<% end %>
