<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week) %>


<%= week_calendar events: @bookings do |date, bookings| %>
  <h4><%= date.strftime("%B, %d") %></h4>
  <% bookings.each do |booking| %>
    <div class="booking">
      <p><a href="#"><%= booking.room.room_name %></a></p>
      <p><%= booking.description %></p>
    </div>
  <% end %>
<% end %>
