<div class="pageFormat">
  <div class="bs-example">
    <div class="panel-group" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">New Booking</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="form-bar">
              <%= render 'bookings/form', booking: @booking %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">New Room</a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="form-bar">
              <%= render 'rooms/form', room: @room %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3><%= @todaysDate.to_formatted_s(:long)  %></h3>


<table class="table table-bordered">
    <thead>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
    </thead>
    <tbody>
      <% (0..40).each do |num| %>
      <% num2 = (@startTime + (num*15*60)).to_s(:time) %>
        <tr>
          <td>
            <%= (@startTime + (num*15*60)).to_s(:time)  %>
          </td>
          <% Date::DAYNAMES.each do |day| %>
            <% @rooms.each do |room| %>
              <% @bookings.each do |booking| %>
              <% start = booking.start_time.strftime("%H:%M") %>
              <% finish = booking.finish_time.strftime("%H:%M") %>
              <% date = booking.start_time.strftime("%d.%m.%Y") %>
              <% if num2 == start %>
                <td>Working</td>
              <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
