<%= form_with(model: room, local: true) do |form| %>


  <div class="field">
    <%= form.label :room_name %>
    <%= form.text_field :room_name, id: :room_room_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
